<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- アプリロゴ -->
  <%= link_to "Kyo Yaru", '/', id: "logo", class: "navbar-brand" %>
  <!-- レスポンシブメニューボタン：lg -->
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- 右寄せメニュー -->
  <div class="collapse navbar-collapse d-lg-flex flex-row-reverse" id="navbarNav">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "今やるタスク", today_tasks_url, method: :get, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "タスク選択", tasks_select_url, method: :get, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "タスクリスト", tasks_url, method: :get, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "過去のタスク", '/', method: :get, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
        </li>
      
      <% end %>
    </ul>
  </div>
</nav>